.biz-primary {
  border-right: 1px solid #B9B9B9;
  width: 640px;
  .biz-primary-container {
    width: 625px;
    .biz-reviews-index {
      .review-index {

        .review-index-item {
          width: 100%;
          display: flex;
          justify-content: space-between;
          min-height: 100px;
          border-top: 1px solid #c6c6c6;
          padding-top: 5px;

          .review-side-bar {
            width: 215px;

            .profile-content {
              display: flex;
              justify-content: space-between;
              a {
                background-image: image-url("default_pic.png");
                background-size: cover;
                width: 60px;
                height: 60px;
                border-radius: 7px;
                border: 1px solid #c6c6c6;
              }
              li {
                width: 148px;
                text-align: left;
              }
              .user-name {
                font-size: 14px;
                font-weight: 700;
                color: #0073bb;
                cursor: not-allowed;
                display: inline;
              }
              .user-place {
                font-weight: 600;
                font-size: 12px;
              }

            }
            }
          .review-body{
            width: 400px;
            position: relative;
            margin-bottom: 10px;
            .review-info {
              margin: 5px 0;
            }

            p {
              margin-bottom: 50px;
            }

            .review-images {
              height: 200px;
              margin-bottom: 3px;
              .image-container {
                float: left;
                margin-left: 5px;
                margin-bottom: 5px;
                width: 195px;
                height: 195px;
                overflow: hidden;
                img {
                  overflow: hidden;
                  object-fit: cover;
                  height: 100%;
                  border-radius: 4px;
                }
                img:hover {
                  cursor: pointer;
                }
              }
            }




            .review-extras {
              width: 100%;
              display: flex;
              justify-content: space-between;
              margin-bottom: 10px;
              .extras-button {
                display: block;
                .fa-trash {
                  border: 2px solid #c6c6c6;
                  border-radius: 4px;
                  font-size: 20px;
                  color: gray;
                  padding: 3px 4px 6px 4px;
                }
              }


            }
          }
        }
      }
    }
  }
}
