.biz-aside {
  box-sizing: border-box;
  padding: 3px;
  width: 300px;
  .biz-aside-container {

    .aside-info {
      margin-bottom: 5px;

      th {
        text-align: left;
        width: 50px;
      }

      li {
        padding-bottom: 6px;
      }

      span:last-child {
        margin-left: 5px;
        font-weight: 700;
      }

    }
  }
}
