.splash-top {
  height: 600px;
  color: white;
  background-image: image-url("burger-splash.jpg");
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
  display: block;

  .splash-content-container {
    padding-top: 30px;
    height: 100%;
    width: 960px;
    position: absolute;
    left: 50%;
    margin-left: -525px;
    // modify margin position abs

    .splash-header {
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      font-weight: 700;

      .splash-header-left ul {
        display: flex;
        li {
          border-bottom: 2px solid transparent;
          padding: 9px 12px 9px 12px;
        }

        li:hover {
          border-bottom: 2px solid white;

        }
      }

      .splash-header-right {
        width: 190px;
      }

      .splash-login-signup {
        width: 190px;
        display: flex;
        justify-content: space-between;
      }

      .splash-signup {
        border: 2px solid white;
        padding: 7px 24px 8px;
        border-radius: 3px;
      }
    }

    .splash-logo {
      padding-top: 80px;
    }

    .splash-search-bar {
      color: black;
      padding-top: 40px;
      font-size: 18px;
      text-align: left;
      padding-bottom: 20px;

      form {
        display: flex;
        justify-content: center;
      }

      label {
        float: left;
        font-weight: bold;
        color: #666;
      }

      .search-business {
        background-color:  white;
        width: 480px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        box-sizing: border-box;
        padding: 11px;
        position: relative;

        input {
          position: absolute;
          left: 12%;
        }

        &:after {
          content:"";
          background: #ccc;
          position: absolute;
          right: 0;
          height: 50%;
          width: 1px;
        }
      }

      .search-location {
        background-color:  white;
        width: 416px;
        box-sizing: border-box;
        padding: 11px;
        position: relative;

        input {
          position: absolute;
          left: 14%;
          float: left;
          width: 100%;
        }

      }

      button {
        padding: 11px 22px 11px;
        background-color: #d32323;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }

      .fa-search {
        color: white;
        font-size: 22px;
      }

    }

    .nav-bar {
      ul {
        display: flex;
        justify-content: center;
        li  {
          width: 120px;
        }
      }
    }
  }
}
