.splash-top {
  height: 600px;
  color: white;

  .splash-img {
    padding-top: 30px;
    background-image: url("/assets/foods/burger-splash.jpg");
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
    z-index: 2;
    float: left;

    .splash-header {
      margin: 0 auto;
      width: 960px;
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      font-weight: 700;
      font-family: "Robot", sans-serif;

      .splash-header-left ul {
        display: flex;
        li {
          padding: 9px 12px 9px 12px;
        }

        li:hover {
          border-bottom: 3px solid white;
        }
      }

      .splash-header-right {
        width: 190px;
      }

      .splash-login-signup {
        width: 190px;
        display: flex;
        justify-content: space-between;
      }

      .splash-signup {
        border: 2px solid white;
        padding: 7px 24px 8px;
        border-radius: 3px;
      }

    }
  }
}
