.search-main {
  width: 960px;
  min-height: 1000px;
  margin: 0 auto;
  margin-top: 20px;


  .search-list {
    .no-results {
      margin-top: 15px;
      padding-top: 5px;
      border-top: 1px solid #c6c6c6;
      width: 630px;

    }
    .biz-index-item {
      width: 630px;
      margin-bottom: 16px;
      padding-top: 12px;
      border-top: 1px solid #c6c6c6;
      display: flex;
      justify-content: space-between;

      .biz-side {

        .image-container {
          width: 180px;
          height: 180px;
          border-radius: 4px;
          overflow: hidden;
          img {
            object-fit: cover;
            height: 100%;
          }
          img:hover {
            cursor: pointer;
          }
        }
      }

      .biz-body {
        width: 440px;
        font-size: 14px;
        .biz-main-info {
          display: flex;
          justify-content: space-between;
          div {
            margin-bottom: 5px;
          }
          span {
            margin-left: 3px;
            a {
              color: #0073bb;
              margin-right: 6px;

            }
            a:hover {
              text-decoration: underline;
            }
          }
          .biz-details {

            .link-h3 {
              font-size: 18px;
              font-weight: 700;
              span:last-child {
                color: #0073bb;
                margin-left: 4px;
              }
              span:last-child:hover {
                cursor: pointer;
              }
            }
          }

          .biz-address {
            text-align: right;
          }

        }
      }
    }

  }

}
