[class*="stars-big"] {
  display: inline-block;
  background-image: image_url('stars.png');
  background-repeat: no-repeat;
  vertical-align: bottom;
  overflow: hidden;
  width: 132px;
  height: 24px;
}

.stars-big-4 {
  background-position: 0 -144px;
}
